html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
}
.container{
    display: flex;
    flex-direction: column;
    height: 45em;
    background: linear-gradient(120deg, #fff 50%, orange 50%);
}
.nav1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*.navleft{
    flex: auto;
    float: left;
}*/
.nav1 h2{
    font-style: italic;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: center;
    margin-top: 7px;

}
ul{
    list-style-type: none;
}

.menu{
    flex: auto;
    display: flex;
    float: right;
    font-weight: 700;
    width:65%;
}

.menu > ul{
    display: flex;
    justify-content: space-between;
    align-items: right;
    width: 100%;
}

.menu a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 30px;
    list-style: none;
    position: relative;
}

.mark{
    text-decoration-color: red;
    text-decoration: underline;
    text-decoration-thickness:4px;
    text-underline-offset: 5px;   

}
.two-left{
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    flex:1;

}

h2{
    font-style: italic;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline;
}
  
/*.nlinks{
    flex:1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}*/

.menu li::after{
    content: "";
    height: 4px;
    display: block;
    background-color:var(--clr-orange);
    width: 0%;
    transition: width 0.5s ease-in-out;
  
}
.menu li:hover::after{
    width: 100%;
    
}
.menu li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1em;
    font-family: var(--ff-primary);
    font-weight: 600;
    color:black; 
}
.icon{
    color:black;
    font-size: 48px;
    margin-left: 42px;
    margin-bottom: 5px;
    position: relative;
}
/* pseudo element fot the cart icon */
/* .icon::before{
    content: "2";
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 50%;
    background-color: var(--clr-orange);
    left:0;
    right:10;
} */
.two{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    height: 90vh;
}
.first-image{
    flex: 1.5;
    height: 90%;
    float: right;
}

.first-image img{
    height: 100%;
    width:100%;
}

.two-left h1{
    font-size: 1.7em;
    font-family: var(--ff-primary);
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
}
.two-left p{
    color:gray;
}
.two-left div{
    height: 120px;
}
.button{
    margin-left: 20px;
    background-color: var(--clr-yellow);
    color: var(--clr-white);
    text-decoration: none;
    width: 120px;
    height: 40px;
    font-size: 0.8em;
    padding:7px 20px;
    border:none;
    border-radius: 50px 30px 0 50px;
    text-align: center;
}
.secondsection{
    background-color: #E1EBE6;
    opacity: 0.7;
    padding-top: 200px;
}
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.box-item{
  display: flex;
  flex-direction: column;
  border:1px solid gray;
  border-radius: 10px;
  padding:20px;
  text-align: center;
  width: 350px;
  align-content: space-between;
  transition: all 0.5s ease-in-out;

  

}
.box-item:hover{
    transform:scale(1.1)

}
.box-item h3{
    color: #800000;
    font-weight: 400;
    margin-top: 10px;
}

.box-item p{
    color: black;
    opacity: 0.7;
    margin-top: 20px;
}
.icon{
    color:var(--clr-yellow)
}
<<<<<<< HEAD
.Our menu{
    width: 30%;
    box-shadow: 2px 2px 2px 2px grey;
    margin-bottom: 10%;

}
.Our menu >img{
    position:relative;
    width: 35rem;
    height:40rem;
    margin-left: -45rem;
    object-position: 5px 10%;
}
#cart{
    margin-bottom: 0px;
    margin-top: 50px;
    background-color: rgb(240, 248, 248);
    display: inline;
    border-radius: 10px;
    padding-bottom: 0px;
    position: relative;
}
.button{
    border: 1px solid;
    border-color: orange;
    background-color: orange;
    padding: 10px;
    width: 75px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
  div {
    display: block;
  }
  
  #Our menu{
    background: white;
    width: 1000px;
    margin: 0 auto;
    
    height: 200px;
    margin-bottom: 1px;
    text-align: auto;}
    body{
        background-color: white;
    }
    .col{
        width: 202px;height: 380px;
        background-color: none;
        float: right;
        border: 1px solid black; padding: 40px;margin: 20px;
        border-radius: 20px;
    }
    .coll{
        width: 202px;height: 280px;
        background-color: none;float: right;
        border: 1px solid black; 
        padding: 40px;margin: 20px;
        border-radius: 20px; 
        padding-top: 70px;
        margin-top: 50px;
    }
    #col1{
        width: 200px;
        
    }
    
    .col12{
        width: 202px; height: 300px;
    }
=======

/* the double decker section */


>>>>>>> e1197d2d0dd36c78fa5192447566d38b63d29643
